@import '@/styles/colors.module.sass'

$app_link_font_size: 18px

.link
    display: block
    background-color: rgba($color_white, 0.2)
    color: $color_white
    text-align: center
    padding: 10px
    transition: 0.5s
    font-size: $app_link_font_size

    &.active
        background-color: $color_orange

    &:hover
        background-color: rgba($color_white, 0.1)
