@import '@/styles/colors.module.sass'

$user_role_font_size: 20px
$user_introduction_font_size: 18px

.counselorInfo
    .card
        padding-bottom: 222px
        color: $color_white

        .user_photo
            width: 100%
            max-width: 150px
            margin: 0px auto
            padding: 12px

        .user_role
            display: block
            font-size: $user_role_font_size
            margin-bottom: 20px
            text-align: center

        p.user_introduction
            text-align: center

            span
                margin: 0px 6px
                font-size: $user_introduction_font_size