@import '@/styles/colors.module.sass'

.menuItem
    display: block
    padding-top: 4px
    padding-bottom: 4px
    background-color: $color_black
    font-size: 16px

.menuItem:first-child
    padding-top: 8px
    padding-bottom: 4px

.menuItem:last-child
    padding-bottom: 8px

.menuItem.subMenu
    // position: relative
    // display: block
    // padding: 10px 0px
    // color: $color_purple
    // cursor: pointer
    // font-size: 14px
    // font-weight: 900
    // transition: 0.5s

    &:hover
        // padding: 14px 10px

