@import '@/styles/colors.module.sass'

.subMenu
    position: relative
    display: inline-block
    padding: 20px 10px
    cursor: pointer
    font-size: 16px
    transition: 0.5s

    .title
        font-weight: 900
