@import '@/styles/colors.module.sass'

.consciousEffortTrainingStatus
    padding: 15px 0px

    .consciousEffortLevel
        img.consciousEffortPicture
            max-width: 100px
            display: inline-block

    .trainingStateChart
        position: relative

        .finishToolTip, .mistakeToolTip
            position: absolute
            background-color: $color_black
            color: $color_white
            padding: 5px 10px
            border-radius: 5px
            display: none
            font-size: 12px

            p
                padding: 3px


        .trainingLevelToolTip, .finishToolTip, .mistakeToolTip
            position: absolute
            background-color: $color_black
            color: $color_white
            padding: 5px 10px
            border-radius: 5px
            // display: none
            font-size: 12px
            text-align: left

            p
                padding: 3px

    .machinary
        text-align: center
        padding: 15px 0px

        .circle
            border-radius: 50%
            max-width: 90px
            padding: 5px
            display: inline-block

            img.machinaryPicture
                border: 5px solid $color_black
                border-radius: 50%
