@import '@/styles/colors.module.sass'

$muscle_strength_and_muscle_endurance_summary_table_header_font_size: 20px
$muscle_strength_and_muscle_endurance_summary_table_body_font_size: 18px
$dialog_title_font_size: 18px
$dialog_context_font_size: 18px

.inspectionReportMuscleStrengthAndMuscleEnduranceSummaryList
    color: $color_white
    margin: 8px 8px 8px 4px

    .machinary_status
        background-color: rgba($color_white, 0.1)
        height: 100vh
        overflow: hidden
        margin-right: 4px

        .circle
            width: 100%
            max-width: 70%
            margin: 10px auto
            padding: 5px
            border-radius: 50%

            img.machinary
                width: 100%
                border: 5px solid #505050
                border-radius: 50%

        .machinaryName
            color: $color_white
            text-align: center
            font-size: 20px
            margin-top: 15px

        img.muscleDistribution
            width: 100%
            max-width: 95%
            margin: 20px auto

    .summaryList
        margin-bottom: 8px
        margin-left: 4px

        table
            width: 100%
            margin:
                left: auto
                right: auto
            color: $color_white

            thead
                tr  
                    th
                        p
                            padding: 5px 10px
                            margin: 0px 8px 8px 4px
                            border: 2px solid rgba($color_white, 0.1)
                            white-space: nowrap
                            overflow: hidden
                            font-size: $muscle_strength_and_muscle_endurance_summary_table_header_font_size

                            span
                                float: left
                                display: inline-block
                                padding: 0px 5px

                            span.action
                                display: inline-block
                                float: right

                                img
                                    width: 100%
                                    max-width: 25px
                                    margin: auto
                                    display: inline-block
                                    cursor: pointer

                    th:last-child
                        th
                            p
                                float: left
                                text-align: left

                    th:first-child
                        p
                            margin-left: 0px

                    th:last-child
                        p
                            margin-right: 0px

            tbody
                tr.summary.active
                    background-color: $color_orange

                tr
                    background-color: rgba($color_white, 0.1)
                    text-align: center
                    border-bottom: 1px solid  rgba($color_white, 0.1)
                    cursor: pointer
                    transition: 0.5s

                    &:hover
                        background-color: rgba($color_white, 0.2)
                    
                    td
                        padding: 9px
                        font-size: $muscle_strength_and_muscle_endurance_summary_table_body_font_size

                    td.mark
                        white-space: pre-line
                        word-wrap: break-word
                        word-break: break-all
                        text-align: left

.visibleAddMarkDialog
    h1
        color: $color_black

    .content
        padding: 0px 24px

        .group
            padding: 5px

            h6
                text-align: left
                font-size: $dialog_title_font_size

            textarea
                width: 100%
                outline: none
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                padding: 6px 12px
                resize: none
                font-size: $dialog_context_font_size
                transition: 0.5s

                &:hover, &:focus
                    border: 1px solid $color_black

            p.textAreaErrorMessage
                text-align: left

.visibleDeleteMarkDialog
    h1
        color: $color_black

    .content
        padding: 0px 24px

        .group
            padding: 5px

            img.caution
                width: 100%
                max-width: 30px
                margin: 5px auto

            p
                margin: 10px 0px
                font-size: $dialog_context_font_size

.visibleInfoDialog
    h1
        color: $color_black

.visibleSearchDialog
    h1
        color: $color_black

    .content
        padding: 0px 24px

        .group
            padding: 5px

            h6
                text-align: left
                font-size: $dialog_title_font_size

            textarea
                width: 100%
                outline: none
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                padding: 6px 12px
                font-size: $dialog_context_font_size
                resize: none
                transition: 0.5s

                &:hover, &:focus
                    border: 1px solid $color_black