@import '@/styles/colors.module.sass'

.inspectionReportMuscleStrengthAndMuscleEnduranceSingleDayReport
    margin: 8px 8px 8px 4px

    .singleDay
        background-color: rgba($color_white, 0.1)

        .flex.flex-wrap
            align-items: center

            .w-full:nth-child(1)
                .card
                    text-align: left

            .w-full:nth-child(2)
                .card
                    text-align: center

            .w-full:nth-child(3)
                .card
                    text-align: right

            .w-full
                .card
                    h2
                        color: $color_white
                        font-size: 30px
                        padding: 5px

                    .arrowRightWhite, .arrowRightWhite
                        width: 100%
                        max-width: 35px
                        display: inline-block
                        cursor: pointer

    .machinaryTrainingStatus
        text-align: center
        padding: 8px 0px

        .trainingStatus
            background-color: rgba($color_white, 0.1)

            .machinaryName
                font-size: 25px
                padding: 8px 0px
                color: $color_white

            .trainingCount
                text-align: center

                .circle
                    display: inline-block
                    width: 10px
                    height: 10px
                    border-radius: 50%
                    background-color: rgba($color_white, 0.1)
                    margin: 5px

                .circle.yellow
                    background-color: $color_yellow

            hr
                width: 95%
                margin: auto

            .trainingInfo
                display: flex
                justify-content: center
                align-items: center
                padding: 10px 0px

                .group:first-child
                    border-right: 1px solid $color_white

                .group:last-child
                    border-left: 1px solid $color_white

                .group
                    flex: 1 1 calc( 100% / 3 )
                    max-width: calc( 100% / 3 )

                    h4, p
                        color: $color_white

                    h4
                        font-size: 20px

                    p
                        font-size: 30px

            .totalPower
                display: flex
                align-items: center
                padding: 15px 0px

                .group:nth-child(1)
                    text-align: left

                .group:nth-child(2)
                    text-align: center
                    display: flex
                    justify-content: center

                .group:nth-child(3)
                    text-align: right

                .group
                    width: calc( 100% / 3 )

                    .circle
                        border-radius: 50%
                        background-color: $color_purple
                        padding: 10px

                        .totalPowerCircle
                            width: 150px
                            height: 150px
                            border-radius: 50%
                            display: flex
                            justify-content: center
                            align-items: center
                            flex-direction: column
                            box-shadow: 0px 0px 0px 5px #3b3b3b

                            .power
                                font-size: 25px
                                font-weight: 600
                                color: $color_white

                            .powerText
                                font-size: 15px
                                font-size: 500
                                color: $color_white

                    .arrowLeft, .arrowRight
                        width: 100%
                        max-width: 60px
                        display: inline-block
                        cursor: pointer

.consciousEffort
    .title
        h2
            font-size: 25px
            color: $color_white
            padding: 23px 0px

    hr
        width: 95%
        margin: auto

    .trainingState
        width: 95%
        margin: auto
        text-align: center

        .scroll::-webkit-scrollbar
            height: 2px
            background-color: rgba($color_black, 0.1)

        .scroll::-webkit-scrollbar-track
            background-color: rgba($color_black, 0.1)

        .scroll::-webkit-scrollbar-thumb
            background-color: lighten($color_black, 10)
            border-radius: 50px

        .scroll
            overflow-x: scroll
            overflow-y: hidden
            display: flex
            justify-content: left

            .consciousEffortGrid
                // cursor: pointer
                max-width: 16%

    .chartTitle
        font-size: 18px
        color: $color_white
        margin: 12px

    .label
        display: flex
        justify-content: center

        .group:nth-child(1)
            .rect
                background-color: rgba($color_white, 0.1)

        .group:nth-child(2)
            .rect
                background-color: $color_red

        .group:nth-child(3)
            .rect
                background-color: $color_orange

        .group
            display: flex
            align-items: center
            padding: 0px 10px

            .rect
                width: 30px
                height: 5px
                display: inline-block
                margin: 5px
                border-radius: 50px

            span
                color: $color_white
