@import '@/styles/colors.module.sass'

.inspectionReportMuscleStrengthAndMuscleEnduranceSummary
    margin: 8px 8px 8px 4px

    .machinary_status
        background-color: rgba($color_white, 0.1)
        height: 100vh
        overflow: hidden
        margin-right: 4px

        .circle
            width: 100%
            max-width: 70%
            margin: 10px auto
            padding: 5px
            border-radius: 50%

            img.machinary
                width: 100%
                border: 5px solid #505050
                border-radius: 50%

        .machinaryName
            color: $color_white
            text-align: center
            font-size: 20px
            margin-top: 15px

        img.muscleDistribution
            width: 100%
            max-width: 95%
            margin: 20px auto

    .formal_training_status
        background-color: rgba($color_white, 0.1)
        color: $color_white
        margin-bottom: 8px
        margin-left: 4px
        position: relative

        .trainingLevelTooltip, .mistakeTooltip, .finishTooltip
            position: absolute
            background-color: $color_black
            color: $color_white
            padding: 5px 10px
            border-radius: 5px
            display: none
            font-size: 12px

            p
                padding: 3px

    .formal_training_power_report
        background-color: rgba($color_white, 0.1)
        color: $color_white
        margin-bottom: 8px
        margin-left: 4px
        position: relative

        .totalPowerTooltip
            position: absolute
            background-color: $color_black
            color: $color_white
            padding: 5px 10px
            border-radius: 5px
            display: none
            font-size: 12px

            p
                padding: 3px
