@import '@/styles/colors.module.sass'
@import '@/styles/index.sass'

.inspectionReportMuscleStrengthAndMuscleEndurance
    .training_title
        padding: 4px 8px 4px 4px

        .card
            background-color: rgba($color_white, 0.1)
            text-align: center
            padding: 8px 0px

            *
                display: inline-block

            h2
                color: $color_white

            img
                width: 100%
                max-width: 45px