@import '@/styles/colors.module.sass'

$muscle_strength_and_muscle_endurance_each_machinary_table_header_font_size: 20px
$muscle_strength_and_muscle_endurance_each_machinary_table_body_font_size: 18px
$muscle_strength_and_muscle_endurance_each_machinary_info_dialog_context_font_size: 18px

.inspectionReportMuscleStrengthAndMuscleEnduranceTotalPowerList
    margin: 4px 8px 8px 4px

    .flex.flex-wrap
        table
            width: 100%

            thead
                tr
                    th
                        color: $color_white

                        p
                            border: 1px solid $color_white
                            padding: 10px
                            margin: 0px 8px 8px 4px
                            font-size: $muscle_strength_and_muscle_endurance_each_machinary_table_header_font_size

                    th:first-child
                        p
                            margin-left: 0px

                    th:last-child
                        p
                            margin-right: 0px

            tbody
                tr
                    background-color: rgba($color_white, 0.1)
                    border-bottom: 1px solid rgba($color_white, 0.1)
                    cursor: pointer
                    transition: 0.5s

                    td
                        color: $color_white
                        text-align: center
                        padding: 10px
                        font-size: $muscle_strength_and_muscle_endurance_each_machinary_table_body_font_size

                        *
                            display: inline-block

                        .circle
                            border-radius: 50%
                            border: 1px solid $color_black
                            padding: 5px

                            img
                                width: 100%
                                border-radius: 50%
                                max-width: 90px
                                border: 5px solid #505050

                        span
                            margin: 0px 15px

                    td:last-child
                        width: 50%

                    &:hover
                        background-color: rgba($color_white, 0.2)

.visibleInfoDialog
    .dialogBody
        .content
            padding: 5px
            margin: 5px

            p
                margin: 0px
                padding: 0px
                font-size: $muscle_strength_and_muscle_endurance_each_machinary_info_dialog_context_font_size
