@import '@/styles/index.sass'
@import '@/styles/colors.module.sass'

$body_mass_record_table_header_font_size: 20px
$body_mass_record_table_body_font_size: 18px
$body_composition_dialog_title_font_size: 18px
$body_composition_dialog_input_font_size: 18px
$body_composition_dialog_context_font_size: 18px
$body_composition_dialog_error_message_font_size: 18px

.bodyMassRecord
    .body_mass_and_physical_fitness_info
        margin: 0px 8px 8px 4px
        
        .flex.flex-wrap
            .card
                table
                    width: 100%
                    margin:
                        left: auto
                        right: auto
                    color: $color_white

                    thead
                        background-color: $color_black

                        tr
                            th
                                p
                                    padding: 5px
                                    margin: 4px 8px 8px 4px
                                    border: 2px solid rgba($color_white, 0.1)
                                    font-size: $body_mass_record_table_header_font_size

                            th:first-child
                                p
                                    margin-left: 0px

                            th:last-child
                                p
                                    margin-right: 0px

                    tbody
                        tr
                            background-color: rgba($color_white, 0.1)
                            text-align: center
                            border-bottom: 1px solid  rgba($color_white, 0.1)
                            cursor: pointer

                            &:hover
                                background-color: rgba($color_white, 0.2)
                            
                            td
                                padding: 6px
                                font-size: $body_mass_record_table_body_font_size

                            td.mark
                                white-space: pre-line
                                word-wrap: break-word

                            td.icon_btn_edit
                                img
                                    width: 100%
                                    max-width: 50px
                                    margin: auto
                                    cursor: pointer
                                    border-radius: 50%
                                    transition: 0.5s
                                    
                                    &:active, &:hover
                                        background-color: rgba($color_white, 0.1)

                            td.bmiComment.red, td.bmiComment.green,  td.bmiComment.orange,
                            td.bodyFatComment.red, td.bodyFatComment.green, td.bodyFatComment.orange,
                            td.visceralFatComment.red, td.visceralFatComment.green, td.visceralFatComment.orange,
                            td.skeletalMuscleRatComment.red, td.skeletalMuscleRatComment.green
                                &:before
                                    content: '●'
                                    font-size: 18px
                                    letter-spacing: 9px

                            td.bmiComment.red, td.bodyFatComment.red, td.visceralFatComment.red, td.skeletalMuscleRatComment.red
                                &:before
                                    color: $color_red

                            td.bmiComment.green, td.bodyFatComment.green, td.visceralFatComment.green, td.skeletalMuscleRatComment.green
                                &:before
                                    color: $color_green

                            td.bmiComment.orange, td.bodyFatComment.orange, td.visceralFatComment.orange
                                &:before
                                    color: $color_orange


                            td.physicalFitnessCardiorespiratoryFitnessComment.red, td.physicalFitnessCardiorespiratoryFitnessComment.orange, td.physicalFitnessCardiorespiratoryFitnessComment.green,
                            td.physicalFitnessMuscleStrengthAndMuscleEnduranceComment.red, td.physicalFitnessMuscleStrengthAndMuscleEnduranceComment.orange, td.physicalFitnessMuscleStrengthAndMuscleEnduranceComment.green,
                            td.physicalFitnessSoftnessComment.red, td.physicalFitnessSoftnessComment.orange, td.physicalFitnessSoftnessComment.green,
                            td.physicalFitnessBalanceComment.red, td.physicalFitnessBalanceComment.orange, td.physicalFitnessBalanceComment.green
                                &:before
                                    content: '●'
                                    font-size: 18px
                                    letter-spacing: 9px

                            td.physicalFitnessCardiorespiratoryFitnessComment.red,
                            td.physicalFitnessMuscleStrengthAndMuscleEnduranceComment.red,
                            td.physicalFitnessSoftnessComment.red,
                            td.physicalFitnessBalanceComment.red
                                &:before
                                    color: $color_red

                            td.physicalFitnessCardiorespiratoryFitnessComment.orange,
                            td.physicalFitnessMuscleStrengthAndMuscleEnduranceComment.orange,
                            td.physicalFitnessSoftnessComment.orange,
                            td.physicalFitnessBalanceComment.orange
                                &:before
                                    color: $color_orange

                            td.physicalFitnessCardiorespiratoryFitnessComment.green,
                            td.physicalFitnessMuscleStrengthAndMuscleEnduranceComment.green,
                            td.physicalFitnessSoftnessComment.green,
                            td.physicalFitnessBalanceComment.green
                                &:before
                                    color: $color_green

                        tr.bmiChildren, tr.bodyFatChildren,
                        tr.visceralFatChildren, tr.skeletalMuscleRateChildren,
                        tr.physicalFitnessCardiorespiratoryFitnessChildren, tr.physicalFitnessMuscleStrengthAndMuscleEnduranceChildren,
                        tr.physicalFitnessSoftnessChildren, tr.physicalFitnessBalanceChildren
                            background-color: rgba($color_white, 0.035)
                            
                        tr.bmiChildren, tr.bodyFatChildren,
                        tr.visceralFatChildren, tr.skeletalMuscleRateChildren,
                        tr.physicalFitnessCardiorespiratoryFitnessChildren, tr.physicalFitnessMuscleStrengthAndMuscleEnduranceChildren,
                        tr.physicalFitnessSoftnessChildren, tr.physicalFitnessBalanceChildren
                            visibility: collapse
                            transition: 0.5s

                        tr.bmiChildren.active, tr.bodyFatChildren.active,
                        tr.visceralFatChildren.active, tr.skeletalMuscleRateChildren.active,
                        tr.physicalFitnessCardiorespiratoryFitnessChildren.active, tr.physicalFitnessMuscleStrengthAndMuscleEnduranceChildren.active,
                        tr.physicalFitnessSoftnessChildren.active, tr.physicalFitnessBalanceChildren.active
                            overflow: hidden
                            visibility: visible
                            transition: 0.5s


.visibleInfoDialog
    .content
        padding: 0px 24px

        p
            margin-top: 5px
            padding-bottom: 20px
            font-size: $body_composition_dialog_context_font_size

.visableBodyCompositionDialog
    .content
        padding: 0px 24px

        .group
            margin-bottom: 10px
            
            h6
                text-align: left
                font-size: $body_composition_dialog_title_font_size

            input, button, textarea
                outline: none

            .value, .mark
                width: 100%
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                padding: 6px 12px
                font-size: $body_composition_dialog_error_message_font_size
                transition: 0.5s

                &:focus
                    border: 1px solid $color_black

            .mark
                resize: none

            p.error_message
                margin-top: 5px
                text-align: left
                font-size: $body_composition_dialog_error_message_font_size

.visiblePhysicalFitnessCardiorespiratoryFitnessDialog
    .content
        padding: 0px 24px
        height: 100%
        max-height: 50vh
        overflow-y: auto
        overflow-x: hidden

        .group
            margin-bottom: 10px

            h6
                text-align: left
                font-size: $body_composition_dialog_title_font_size

            input, button, textarea
                outline: none

            .pulseRateOne, .pulseRateTwo, .pulseRateThree, .kneeLiftFrequency, .mark
                width: 100%
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                font-size: $body_composition_dialog_input_font_size
                padding: 6px 12px
                transition: 0.5s

                &:focus
                    border: 1px solid $color_black

            .mark
                resize: none

            p.error_message
                margin-top: 5px
                text-align: left
                font-size: $body_composition_dialog_error_message_font_size

.visiblePhysicalFitnessMuscleStrengthAndMuscleEnduranceDialog
    .content
        padding: 0px 24px
        height: 100%
        max-height: 50vh
        overflow-y: auto
        overflow-x: hidden

        .group
            margin-bottom: 10px

            h6
                text-align: left
                font-size: $body_composition_dialog_title_font_size

            input, button, textarea
                outline: none

            .kneeCrunchesFrequency, .armCurlUpperBodyFrequency, .armCurlLowerBodyFrequency, .mark
                width: 100%
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                padding: 6px 12px
                font-size: $body_composition_dialog_input_font_size
                transition: 0.5s

                &:focus
                    border: 1px solid $color_black
            
            .mark
                resize: none

            p.error_message
                margin-top: 5px
                text-align: left
                font-size: $body_composition_dialog_error_message_font_size

.visiblePhysicalFitnessSoftnessDialog
    .content
        padding: 0px 24px
        height: 100%
        max-height: 50vh
        overflow-y: auto
        overflow-x: hidden

        .group
            margin-bottom: 10px

            h6
                text-align: left
                font-size: $body_composition_dialog_title_font_size

            input, button, textarea
                outline: none

            .seatedForwardBendOne, .seatedForwardBendTwo, .seatedForwardBendThree,
            .chairSeatedForwardBendOne, .chairSeatedForwardBendTwo, .chairSeatedForwardBendThree,
            .pullBackTestOne, .pullBackTestTwo, .mark
                width: 100%
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                padding: 6px 12px
                font-size: $body_composition_dialog_input_font_size
                transition: 0.5s

                &:focus
                    border: 1px solid $color_black

            .mark
                resize: none

            p.error_message
                margin-top: 5px
                text-align: left
                font-size: $body_composition_dialog_error_message_font_size

.visiblePhysicalFitnessBalanceDialog
    .content
        padding: 0px 24px
        height: 100%
        max-height: 50vh
        overflow-y: auto
        overflow-x: hidden

        .group
            margin-bottom: 10px

            h6
                text-align: left
                font-size: $body_composition_dialog_title_font_size

            input, button, textarea
                outline: none
            
            .adultEyeOpeningMonopodSecond, .elderlyEyeOpeningMonopodSecond, .sittingAroundOneSecond,
            .sittingAroundTwoSecond, .mark
                width: 100%
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                padding: 6px 12px
                font-size: $body_composition_dialog_input_font_size
                transition: 0.5s

                &:focus
                    border: 1px solid $color_black

            .mark
                resize: none

            p.error_message
                margin-top: 5px
                text-align: left
                font-size: $body_composition_dialog_error_message_font_size

.mark::-webkit-scrollbar
    width: 9px
    background-color: rgba($color_black, 0.1)
    
.mark::-webkit-scrollbar-track
    background-color: rgba($color_black, 0.1)

.mark::-webkit-scrollbar-thumb
    background-color: $color_orange
    border-radius: 50px

.content::-webkit-scrollbar
    width: 9px
    background-color: rgba($color_black, 0.1)

.content::-webkit-scrollbar-track
    background-color: rgba($color_black, 0.1)

.content::-webkit-scrollbar-thumb
    background-color: $color_orange
    border-radius: 50px