@import '@/styles/colors.module.sass'

$pre_test_info_font_size: 18px

.preTestInfo
    margin: 8px 8px 4px 4px

    .cardiorespiratory_fitness, .muscle_strength_and_muscle_endurance, .softness, .balance
        margin: 8px 0px

        .flex.flex-wrap
            .w-full:first-child
                .card
                    margin-left: 0px
                    justify-content: center
                    align-items: center

            .w-full:nth-child(2)
                .card
                    justify-content: center
                    align-items: center

            .w-full:last-child
                .card
                    margin-right: 0px
                    align-items: left
                    justify-content: center

            .w-full
                .card.top
                    height: calc( 100% / 2 - 8px )
                    margin-bottom: 8px

                .card.bottom
                    height: 50%
                    margin-top: 8px

                .card
                    background-color: rgba($color_white, 0.1)
                    margin:
                        left: 4px
                        right: 4px
                    padding: 15px
                    display: flex
                    justify-content: left
                    align-items: left
                    flex-direction: column
                    height: 60vh

                    span, label, div
                        color: $color_white
                        font-size: $pre_test_info_font_size

                    label
                        display: block
                        margin:
                            top: 10px
                            bottom: 10px
                        
                    input
                        width: calc( 100% - 32px )
                        outline: none
                        border: none
                        border-bottom: 2px solid $color_white
                        background-color: transparent
                        padding: 10px 5px
                        margin:
                            top: 5px
                            bottom: 5px
                        transition: 0.5s

                        &:focus
                            border-bottom: 2px solid $color_orange

                    p.error_message
                        color: $color_white

    .confirm
        .flex.flex-wrap
            .w-full
                .card
                    background-color: rgba($color_white, 0.1)
                    margin:
                        top: 4px
                        bottom: 4px
                    padding: 15px
                    display: flex
                    justify-content: center

                    button
                        color: $color_white
                        border: 1px solid $color_white
                        padding: 10px 40px
                        border-radius: 50px
                        font-size: $pre_test_info_font_size
                        outline: none
                        transition: 0.5s

                        &:hover
                            background-color: rgba($color_white, 0.1)
                            