@import '@/styles/colors.module.sass'

$questionnaire_aha_and_acsm_font_size: 18px

.questionnaire_aha_and_acsm
    margin: 8px 8px 4px 4px

    hr
        width: 98%
        margin: auto
        background-color: transparent

    .flex.flex-wrap
        .w-full
            .card.left
                margin-right: 4px

            .card.right
                margin-left: 4px

            .card.center
                display: flex
                justify-content: center
                padding: 30px  0px

            .card
                background-color: rgba($color_white, 0.1)
                background-color: rgba($color_white, 0.1)
                margin:
                    top: 4px
                    bottom: 4px
                padding: 15px

                h5
                    color: $color_white
                    padding: 10px
                    font-size: $questionnaire_aha_and_acsm_font_size

                hr
                    width: 95%
                    margin: auto

                .info
                    padding: 10px
                    
                    label
                        margin-right: 10px
                        color: $color_white
                        font-size: $questionnaire_aha_and_acsm_font_size
                        
                        input[type='checkbox']
                            display: black
                            appearance: none
                            -webkit-appearance: none
                            -moz-appearance: none
                            width: 18px
                            height: 18px
                            margin-right: 5px
                            outline: none
                            border: 2px solid $color_orange
                            vertical-align: middle
                            position: relative
                        
                            &:before
                                content: ''
                                display: black
                                position: absolute
                                top: 50%
                                left: 50%
                                transform: translate(-50%, -65%) rotate(45deg)
                                border: solid transparent
                                border-width: 0px 2px 2px 0px
                                width: 5px
                                height: 10px
                            
                            &:checked
                                background-color: $color_orange
                                border: 2px solid $color_orange
                            
                            &:checked::before
                                border-color: $color_white

                button
                    color: $color_white
                    border: 1px solid $color_white
                    padding: 10px 40px
                    border-radius: 50px
                    outline: none
                    transition: 0.5s

                    &:hover
                        background-color: rgba($color_white, 0.1)