@import '@/styles/colors.module.sass'

$questionnaire_two_part_font_size: 18px

.questionnaireTwoPart
    margin: 8px 8px 4px 4px

    .flex.flex-wrap
        .w-full
            .card.left
                margin-right: 4px

            .card.right
                margin-left: 4px

            .card.center
                justify-content: center
                padding: 30px 0px

            .card.subject
                padding-left: 50px

            .card
                background-color: rgba($color_white, 0.1)
                margin:
                    top: 4px
                    bottom: 4px
                padding: 15px 15px
                display: flex
                
                h5, label
                    font-size: $questionnaire_two_part_font_size

                h5
                    color: $color_white

                input
                    background-color: rgba($color_white, 0.1)
                    margin:
                        top: 4px
                        bottom: 4px
                    padding: 15px 15px
                    outline: none

                label
                    display: inline-block
                    color: $color_white

                    input[type='radio']
                        -webkit-appearance: none
                        -moz-appearance: none
                        appearance: none
                        border: 3px solid $color_orange
                        border-radius: 50px
                        width: 18px
                        height: 18px
                        vertical-align: middle
                        position: relative
                        margin-right: 5px
                        padding: 0px

                        &:before
                            content: ''
                            background-color: transparent
                            border-radius: 50%
                            width: 5px
                            height: 5px
                            display: black
                            position: absolute
                            left: 50%
                            top: 50%
                            transform: translate(-50%, -50%)

                        &:checked:before
                            background-color: $color_orange

                        &:checked
                            border: 3px solid $color_orange

                h5, label
                    padding: 5px 10px

                button
                    color: $color_white
                    border: 1px solid $color_white
                    font-size: $questionnaire_two_part_font_size
                    padding: 10px 40px
                    border-radius: 50px
                    outline: none
                    transition: 0.5s

                    &:hover
                        background-color: rgba($color_white, 0.1)