@import '@/styles/colors.module.sass'

$student_basic_infomation_font_size: 18px

.studentBasicInfo
    margin: 8px 8px 4px 4px

    .flex.flex-wrap
        align-items: center

        .w-full
            .card.left
                margin-right: 4px

            .card.right
                margin-left: 4px

            .card.center
                text-align: center
                padding: 30px 0px

            .card
                background-color: rgba($color_white, 0.1)
                margin:
                    top: 4px
                    bottom: 4px
                padding: 15px 15px

                h5
                    color: $color_white
                    font-size: $student_basic_infomation_font_size

                input
                    outline: none
                    border: 1px solid $color_black
                    font-size: $student_basic_infomation_font_size
                    transition: 0.5s

                    &:focus
                        border: 1px solid $color_orange

                input[type='text'], input[type='password'], input[type='date']
                    width: 100%
                    border-radius: 5px

                label
                    display: inline-block
                    color: $color_white
                    font-size: $student_basic_infomation_font_size
                    
                    input[type='radio']
                        -webkit-appearance: none
                        -moz-appearance: none
                        appearance: none
                        border: 3px solid $color_orange
                        border-radius: 50px
                        width: 18px
                        height: 18px
                        vertical-align: middle
                        position: relative
                        margin-right: 5px
                        padding: 0px

                        &:before
                            content: ''
                            background-color: transparent
                            border-radius: 50%
                            width: 5px
                            height: 5px
                            display: black
                            position: absolute
                            left: 50%
                            top: 50%
                            transform: translate(-50%, -50%)

                        &:checked:before
                            background-color: $color_orange

                        &:checked
                            border: 3px solid $color_orange

                p
                    display: inline-block

                p.error_message
                    display: block
                    color: $color_white
                    padding: 10px 0px
                    font-size: $student_basic_infomation_font_size

                h5, input, label
                    padding: 5px 10px

                button
                    color: $color_white
                    border: 1px solid $color_white
                    padding: 10px 40px
                    border-radius: 50px
                    outline: none
                    font-size: $student_basic_infomation_font_size
                    transition: 0.5s

                    &:hover
                        background-color: rgba($color_white, 0.1)