@import '@/styles/colors.module.sass'

$add_student_container_button_font_size: 18px

.page_title
    margin: 8px 8px 4px 4px

    .flex.flex-wrap
        .card
            padding: 10px 0px
            background-color: $color_orange

            .headline
                display: flex
                justify-content: center
                align-items: center

                .group
                    flex: 1 1 calc( 100% / 3 - 20px )
                    max-width: calc( 100% / 3 - 20px )

                    button.prev
                        padding: 5px 30px
                        border: 1px  solid $color_white
                        color: $color_white
                        border-radius: 50px
                        font-size: $add_student_container_button_font_size
                        transition: 0.5s

                        &:hover
                            background-color: $color_white
                            color: $color_orange

                    button.questionnaire, button.preTest
                        border: 1px  solid $color_white
                        border-radius: 50px
                        color: $color_white
                        padding: 5px 30px
                        font-size: $add_student_container_button_font_size
                        margin:
                            left: 5px
                            right: 5px

                    button.questionnaire.active
                        background-color: $color_white
                        color: $color_orange

                    button.preTest.active
                        background-color: $color_white
                        color: $color_orange

                    h2.title
                        font-size: 25px
                        color: $color_white
                        text-align: center

                        .search_student
                            width: 100%
                            max-width: 38px
                            margin-right: 12px
                            cursor: pointer
                            display: inline-block
                            transition: 0.5s

                            &:hover
                                transform: scale(1.1)

                .group:nth-child(3)
                    text-align: right
