@import '@/styles/colors.module.sass'

$student_info_bar_font_size: 18px

.studentInfoBar
    background-color: rgba($color_white, 0.2)
    margin: 8px 8px 4px 4px

    .flex.flex-wrap
        background-color: rgba($color_white, 0.1)
        padding: 12px
        
        .w-full
            padding: 5px
            text-align: left
            position: relative

            .student_logo
                width: 100%
                max-width: 50px
                margin: auto

            p
                color: $color_white
                font-size: $student_info_bar_font_size

            .dangerGrading.red, .dangerGrading.green, .dangerGrading.yellow
                &:before
                    content: '●'
                    display: inline-block
                    font-size: 18px
                    letter-spacing: 9px

            .dangerGrading.green
                &:before
                    color: $color_green

            .dangerGrading.red
                &:before
                    color: $color_red

            .dangerGrading.yellow
                &:before
                    color: $color_yellow

            .btn_edit_student, .btn_save_student
                width: 100%
                margin: auto
                top: -9px
                cursor: pointer

            .btn_edit_student
                max-width: 50px
                position: absolute
                top: -20%
                right: 50%
                transform: translateX(-45%)

            .btn_save_student
                max-width: 25px
                position: absolute
                right: 60%
                top: 20%
                transform: translateX(-60%)
                
            input
                font-size: $student_info_bar_font_size
                width: 100%
                outline: none
                border-radius: 2.5px
                padding: 5px 10px
                background-color: $color_white
                border: 1px solid rgba($color_black, 0.1)
                transition: 0.5s

                &:focus
                    border: 1px solid $color_black
                    
.visibleStudentDialog
    .content
        padding: 0px 24px

        p
            margin-top: 5px
            padding-bottom: 20px