@import '@/styles/colors.module.sass'

.sidebar
    position: fixed
    top: 0
    left: 0
    width: 242px
    height: 100%
    background-color: $color_black
    padding: 8px 4px 8px 8px

    .sidebar_container
        background-color: rgba($color_white, 0.2)
        height: 100%

        .scroll
            overflow-x: hidden
            overflow-y: auto
            height: calc( 100vh - 500px )

        .scroll::-webkit-scrollbar
            width: 10px
            background-color: rgba($color_white, 0)

        .scroll::-webkit-scrollbar-track
            background-color: rgba($color_white, 0)

        .scroll::-webkit-scrollbar-thumb
            background-color: rgba($color_white, 0.2)
            border-radius: 50px
