@import './tailwind'
@import '@/styles/colors.module.sass'

@font-face
    font-family: 'Noto Sans'
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-Black.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-BlackItalic.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-Bold.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-BoldItalic.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-ExtraBold.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-ExtraBoldItalic.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-ExtraLight.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-ExtraLightItalic.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-Italic.ttf') format('opentype')

    src: url('../assets/fonts/Noto_Sans_English/NotoSans-Light.ttf') format('opentype')

    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-LightItalic.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-Medium.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-MediumItalic.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-Regular.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-SemiBold.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-SemiBoldItalic.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-Thin.ttf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_English/NotoSans-ThinItalic.ttf') format('opentype')

@font-face
    font-family: 'NotoSansTC',
    // src: url('../assets/fonts/Noto_Sans_Chinese/NotoSansTC-Black.otf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_Chinese/NotoSansTC-Bold.otf') format('opentype')

    src: url('../assets/fonts/Noto_Sans_Chinese/NotoSansTC-Light.otf') format('opentype')

    // src: url('../assets/fonts/Noto_Sans_Chinese/NotoSansTC-Medium.otf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_Chinese/NotoSansTC-Regular.otf') format('opentype')
    // src: url('../assets/fonts/Noto_Sans_Chinese/NotoSansTC-Thin.otf') format('opentype')

$size: 242px

*
    font-family: 'Noto Sans',  sans-serif, 'NotoSansTC'

html, body
    background-color: $color_black

body::-webkit-scrollbar
    width: 10px
    background-color: rgba($color_black, 0.1)

body::-webkit-scrollbar-track
    background-color: rgba($color_black, 0.1)

body::-webkit-scrollbar-thumb
    background-color: lighten($color_black, 10)
    border-radius: 50px

li
    list-style: none


#nprogress
    .bar
        background: $color_orange

    .peg
        box-shadow: 0 0 10px $color_orange, 0 0 5px $color_orange