@import '@/styles/colors.module.sass'

.select
    display: block
    width: 100%
    max-width: 240px

    input
        background-color: rgba($color_black, 0.1)
        border: 1px solid rgba($color_black, 0.1)
        border-radius: 2.5px
        outline: none
        width: 100%
        padding: 6px 12px
        text-overflow: ellipsis
        transition: 0.5s

    .dropdownMenu
        position: absolute
        z-index: 100
        margin-top: 10px
        left: 0px
        width: 100%
        background-color: $color_white
        border: 1px solid rgba($color_black, 0.1)
        border-radius: 2.5px
        display: none
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out

        .dropdownFlex
            flex: 1 1 100%
            max-width: 100%

    &.active > .select_tag + .dropdownMenu
        display: block
        pointer-events: auto

    &.active > input
        border: 1px solid $color_black