@import '@/styles/colors.module.sass'

.footer
    margin:
        left: 4px
        right: 4px
    
    .container.mx-auto
        .flex.flex-wrap
            .w-full
                .card
                    text-align: center
                    color: $color_white

                    p
                        padding: 5px
                        font-size: 10px
                        