@import '@/styles/index.sass'
@import '@/styles/colors.module.sass'

$training_type_font_size: 18px
$training_schedule_confirm_and_close_button_font_size: 18px
$training_schedule_calendar_title_font_size: 18px
$training_schedule_calendar_week_day_font_size: 18px
$training_schedule_calendar_day_font_size: 18px
$training_schedule_info_dialog_message_font_size: 18px

.trainingSchedule
    .training_schedule_info
        margin: 0px 8px 8px 4px

        .training_schedule_type
            text-align: center

            .trainingType.orange
                background-color: $color_orange

            .trainingType, .remainingFrequency, .btnConfirm, .btnClose
                color: $color_white

            .trainingType:nth-child(1)
                margin-top: 4px

            .trainingType
                background-color: rgba($color_white, 0.1)
                text-align: center
                display: flex
                justify-content: center
                align-items: center
                cursor: pointer
                margin: 8px 0px
                font-size: $training_type_font_size
                transition: 0.5s

                &:hover
                    background-color: rgba($color_white, 0.2)

                .trainingTypeIcon
                    max-width: 75px

            .description
                color: $color_white
                margin-top: 50px
                font-size: 21px

            .remainingFrequency
                font-size: 100px
                text-align: center

            .btnConfirm, .btnClose
                border: 1px solid $color_white
                padding: 5px 40px
                border-radius: 50px
                margin: 10px
                font-size: $training_schedule_confirm_and_close_button_font_size
                transition: 0.5s

                &:hover
                    background-color: $color_white
                    color: $color_black

        .calendar
            padding: 8px 4px 8px 8px

            .dayInfo, .weekDayRow, .dayRow
                display: flex
                justify-content: space-between
                align-items: center
                flex-wrap: wrap

            .dayInfo
                .info
                    flex: 1 1 calc( 100% / 3 )
                    max-width: calc( 100% / 3 )

                h3
                    color: $color_white
                    text-align: center
                    font-size: $training_schedule_calendar_title_font_size

                .arrowLeft, .arrowRight
                    width: 100%
                    max-width: 50px
                    cursor: pointer
                    margin: auto

                .arrowLeft
                    margin-left: 14%

                .arrowRight
                    margin-right: 14%
                    transform: rotate(180deg)

            .weekDayRow
                .weekDay
                    color: $color_white
                    flex: 1 1 calc( 100% / 7 )
                    max-width: calc( 100% / 7 )
                    text-align: center
                    padding: 5px 10px
                    margin: 20px 0px

            .dayRow
                .day
                    flex: 1 1 calc( 100% / 7 )
                    max-width: calc( 100% / 7 )
                    text-align: center
                    color: $color_white
                    border: 2px solid rgba(35,35,35)
                    background-color: rgba(255, 255, 255, 0.05)
                    cursor: pointer
                    font-size: $training_schedule_calendar_day_font_size
                    transition: 0.5s

                    span
                        display: block
                        padding: 5px 10px
                        margin: 20px 0px

                    &:hover
                        background-color: $color_white
                        color: rgba($color_black, 1.0)

        .calendar.watch
            .dayRow
                .day.today
                    background-color: $color_white
                    color: rgba($color_black, 1.0)

                .day.other
                    transition: 0.5s

                    span
                        color: rgba($color_white, 0.5)

                    &:hover
                        background-color: transparent
                        border: 1px solid $color_white

        .calendar.choose
            .dayRow
                .day.other
                    transition: 0.5s

                    span
                        transition: 0.5s
                        color: rgba($color_white, 0.5)

                    &:hover
                        background-color: $color_white

                        span
                            color: rgba($color_black, 1.0)

                .day.box
                    border: 1px solid $color_white

                .day.default
                    background-color: $color_white

                    span
                        color: rgba($color_black, 1.0)

.visibleTrainingSchedule, .visibleInfoDialog
    .content
        margin: 5px
        padding: 5px
        font-size: $training_schedule_info_dialog_message_font_size

