@import '@/styles/index.sass'
@import '@/styles/colors.module.sass'

$inspection_report_report_info_font_size: 18px
$inspection_report_button_font_size: 18px

.inspectionReport
    .page_title
        margin: 8px 8px 4px 4px

        .flex.flex-wrap
            .card
                padding: 10px 0px
                background-color: $color_orange
                text-align: center

                *
                    display: inline-block

                .headline
                    display: flex
                    justify-content: center
                    align-items: center

                    .group
                        flex: 1 1 calc( 100% / 3 )
                        max-width: calc( 100% / 3 )

                        h2.title
                            font-size: 20px
                            color: $color_white
                            text-align: center
                            vertical-align: middle
                            padding: 0px 8px
                
                        .openUp
                            width: 100%
                            max-width: 35px
                            cursor: pointer
                            transform: rotate(0deg)
                            transition: 0.5s

                            &:hover
                                transform: rotate(360deg)

                        .btnSummary, .btnSingleDay
                            background-color: $color_white
                            color: $color_orange
                            margin: 0px 20px
                            padding: 5px 20px
                            border-radius: 50px
                            box-shadow: 0px 0px 10px 10px rgba($color_black, 0.1)
                            font-size: $inspection_report_button_font_size
                            transition: transform 0.5s

                            &:hover
                                transform: scale(1.1)

                        .btnDelete
                            width: 100%
                            max-width: 36px
                            margin-right: 20px
                            cursor: pointer
                            transform: rotate(0deg)
                            transition: 0.3s

                            &:hover
                                transform: rotate(360deg)

                    .group:nth-child(3)
                        text-align: right

    .reportType
        margin: 8px 8px 4px 4px

        .container
            .flex.flex-wrap
                display: flex
                justify-content: center
                align-items: center

                .reportTypeInfo
                    max-width: 50%
                    margin: auto
                    text-align: center
                    border-top: 1px solid $color_white
                    cursor: pointer
                    transition: 0.5s

                    *
                        display: inline-block

                    &:hover
                        background-color: rgba($color_white, 0.2)

                    img
                        width: 100%
                        max-width: 50px

                    span
                        color: $color_white
                        font-size: $inspection_report_report_info_font_size

                .reportTypeInfo:last-child
                    border-bottom: 1px solid $color_white

                .reportTypeInfo.active
                    background-color: $color_orange

