@import '@/styles/index.sass'
@import '@/styles/colors.module.sass'

$page_delete_add_icon_size: 80px
$student_info_font_size: 18px
$body_mass_and_physical_fitness_info_table_title_font_size: 20px
$body_mass_and_physical_fitness_info_table_context_font_size: 18px

$exercise_prescription_training_stage_anchor_text_font_size: 18px
$exercise_prescription_training_stage_text_font_size: 18px
$exercise_prescription_table_header_font_size: 20px
$exercise_prescription_table_body_font_size: 18px

$instrument_settings_table_header_font_size: 20px

.print
    color: $color_white

    .print_page
        position: fixed
        top: 0
        right: 0
        width: calc(100% - $size)
        z-index: 999
        background-color: $color_black

        .print_page_content
            background: linear-gradient(90deg, $color_orange 70%, $color_yellow, $color_yellow)
            margin: 8px 8px 8px 4px
            padding: 15px 0px
            
            h2
                font-size: 25px
                text-align: center

    .studentInfoBar
        margin-top: 84px

        .flex.flex-wrap
            .w-full
                p
                    font-size: $student_info_font_size

    .body_mass_and_physical_fitness_info
        margin: 8px 8px 8px 4px
        
        .flex.flex-wrap
            .w-full:nth-child(1)
                .card
                    margin-right: 4px

                    table
                        width: 100%
                        margin:
                            left: auto
                            right: auto
                        color: $color_white

                        thead
                            background-color: $color_black

                            tr
                                th
                                    p
                                        padding: 5px
                                        margin: 0px 8px 4px 4px
                                        border: 2px solid rgba($color_white, 0.1)
                                        font-size: $body_mass_and_physical_fitness_info_table_title_font_size

                                th:first-child
                                    p
                                        margin-left: 0px

                                th:last-child
                                    p
                                        margin-right: 0px

                        tbody
                            tr
                                background-color: rgba($color_white, 0.1)
                                text-align: center
                                border-bottom: 1px solid rgba($color_white, 0.1)
                                cursor: pointer

                                &:hover
                                    background-color: rgba($color_white, 0.2)
                                
                                td
                                    padding: 6px
                                    font-size: $body_mass_and_physical_fitness_info_table_context_font_size

                                td.mark
                                    white-space: pre-line
                                    word-wrap: break-word

            .w-full:nth-child(2)
                .card
                    background-color: rgba($color_white, 0.1)
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 100%
                    margin-left: 4px
                    
                    img
                        width: 100%
                        max-width: $page_delete_add_icon_size
                        cursor: pointer
                        transition: 0.5s

                        &:hover
                            transform: rotate(360deg)

    .exercisePrescription
        margin: 8px 8px 8px 4px
        
        .flex.flex-wrap
            .w-full:nth-child(1)
                .training_stage_info
                    margin-right: 4px

                    .training_stage_progress
                        width: 90%
                        margin: auto
                        padding: 28px 50px 0px 50px

                        img.training_stage_anchor
                            position: relative
                            width: 30px
                            height: 30px

                        h5.training_stage_anchor_text
                            position: relative
                            color: $color_white
                            font-size: $exercise_prescription_training_stage_anchor_text_font_size
                            margin:
                                top: 10px
                                bottom: 10px

                    .training_stage
                        width: 90%
                        margin: auto
                        position: relative
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 0px 50px 10px 50px

                        .progress1
                            background: linear-gradient(75deg, transparent, $color_green)
                            height: 12px

                        .progress2
                            background: linear-gradient(75deg, transparent, $color_yellow)
                            height: 12px

                        .progress3
                            background: linear-gradient(75deg, transparent, $color_red)
                            height: 12px

                    .training_stage_text
                        width: 90%
                        margin: auto
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 2px 50px 50px 50px

                        .progress1, .progress2, .progress3
                            height: 12px
                            text-align: center
                            color: $color_white
                            white-space: nowrap
                            font-size: $exercise_prescription_training_stage_text_font_size

                .exercise_prescription_info
                    margin-right: 4px

                    table
                        width: 100%
                        margin:
                            left: auto
                            right: auto
                            bottom: 0px
                        color: $color_white

                        thead
                            background-color: $color_black

                            tr
                                th
                                    p
                                        padding: 5px
                                        margin: 4px 8px 8px 4px
                                        border: 2px solid rgba($color_white, 0.1)
                                        font-size: $exercise_prescription_table_header_font_size

                                th:first-child
                                    p
                                        margin-left: 0px

                                th:last-child
                                    p
                                        margin-right: 0px

                        tbody
                            tr
                                background-color: rgba($color_white, 0.1)
                                text-align: center
                                border-bottom: 1px solid rgba($color_white, 0.1)
                                cursor: pointer

                                &:hover
                                    background-color: rgba($color_white, 0.2)

                                td
                                    padding: 6px
                                    font-size: $exercise_prescription_table_body_font_size

                                td.mark
                                    white-space: pre-line
                                    word-wrap: break-word

                                td.icon_btn_edit
                                    img
                                        width: 100%
                                        max-width: 50px
                                        margin: auto
                                        cursor: pointer
                                        border-radius: 50%
                                        transition: 0.5s

                                        &:active, &:hover
                                            background-color: rgba($color_white, 0.1)

            .w-full:nth-child(2)
                .card
                    background-color: rgba($color_white, 0.1)
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 100%
                    margin-left: 4px

                    img
                        width: 100%
                        max-width: $page_delete_add_icon_size
                        cursor: pointer
                        transition: 0.5s

                        &:hover
                            transform: rotate(360deg)

    .instrument_settings_info
        margin: 8px 8px 8px 4px

        .flex.flex-wrap
            .w-full:nth-child(1)
                .card
                    margin-right: 4px

                    table
                        width: 100%
                        max-width: 100%
                        margin:
                            left: auto
                            right: auto
                        color: $color_white

                        thead
                            background-color: $color_black

                            tr
                                th
                                    p
                                        padding: 5px
                                        margin: 0px 8px 8px 4px
                                        border: 2px solid rgba($color_white, 0.1)
                                        white-space: nowrap
                                        font-size: $instrument_settings_table_header_font_size

                                th:first-child
                                    p
                                        margin-left: 0px

                                th:last-child
                                    p
                                        margin-right: 0px

                        tbody
                            tr
                                background-color: rgba($color_white, 0.1)
                                text-align: center
                                border-bottom: 1px solid rgba($color_white, 0.1)
                                cursor: pointer

                                &:hover
                                    background-color: rgba($color_white, 0.2)

                                td
                                    padding: 6px
                                    font-size: 25px
                                    font-weight: 600
                                    white-space: pre-line
                                    word-break: break-all

                                    img.machinaryPicture
                                        width: 100%
                                        max-width: 95px
                                        margin:
                                            top: 6px
                                            bottom: 6px
                                            left: auto
                                            right: auto
                                        padding: 3px
                                        border: 3px solid rgba($color_white, 0.6)
                                        border-radius: 50%

                                td.mark
                                    text-align: left

                                td.icon_btn_edit
                                    img
                                        width: 100%
                                        max-width: 50px
                                        margin: auto
                                        cursor: pointer
                                        border-radius: 50%
                                        transition: 0.5s

                                        &:active, &:hover
                                            background-color: rgba($color_white, 0.1)
            .w-full:nth-child(2)
                .card
                    background-color: rgba($color_white, 0.1)
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 100%
                    margin-left: 4px
                    
                    img
                        width: 100%
                        max-width: $page_delete_add_icon_size
                        cursor: pointer
                        transition: 0.5s

                        &:hover
                            transform: rotate(360deg)

    .cardiorespiratoryFitness_chart_info
        margin: 8px 8px 4px 4px

        .flex.flex-wrap
            .w-full:nth-child(1)
                .card
                    background-color: rgba(58, 58, 58)
                    margin-right: 4px

                    .title
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 5px 0px

                        img
                            width: 100%
                            max-width: 50px

                        h2
                            font-size: 20px
                            color: $color_white

                    hr
                        width: 95%
                        margin: auto

                    .cardiorespiratoryFitnessChart
                        padding: 20px

            .w-full:nth-child(2)
                .card
                    background-color: rgba($color_white, 0.1)
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 100%
                    margin-left: 4px
                    
                    img
                        width: 100%
                        max-width: $page_delete_add_icon_size
                        cursor: pointer
                        transition: 0.5s

                        &:hover
                            transform: rotate(360deg)

    .muscle_strength_and_muscle_endurance_info
        background-color: rgba($color_white, 0.1)
        margin: 8px 8px 4px 4px
        padding: 15px 0px

        .container.mx-auto
            .flex.flex-wrap
                .w-full
                    .card
                        display: flex
                        justify-content: center
                        align-items: center


                        img
                            display: inline-block
                            width: 100%
                            max-width: 50px

                        h5
                            display: inline-block
                            font-size: 25px

    .machinaryList
        background-color: rgba($color_white, 0.1)
        margin: 8px 8px 8px 4px
        padding: 10px 20px

        .row
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap

            .col
                flex: 1 1 calc( 100% / 10 )
                max-width: calc( 100% / 10 )
                padding: 20px 20px

                .card
                    .circle
                        border: 5px solid rgba($color_white, 0.1)
                        border-radius: 50%
                        opacity: 0.5
                        transition: (opacity, border, transform) 0.5s

                        img
                            width: 100%
                            max-width: 150px
                            margin: auto
                            cursor: pointer
                            border: 5px solid $color_black
                            border-radius: 50%

                        &:hover
                            opacity: 1
                            border: 5px solid rgba($color_white, 0.2)
                            transform: scale(1.2) translate(-5px, -5px) rotate(360deg)

                    .circle.active
                        border: 5px solid $color_orange
                        opacity: 1

            .col-12
                flex: 1 1 100%
                max-width: 100%
                text-align: center
                
                p
                    font-size: 18px

    .machinaryCodeOne
        margin: 8px 8px 8px 4px

    .machinaryCodeTwo
        margin: 4px 8px 8px 4px

    .machinaryCodeThree
        margin: 4px 8px 8px 4px

    .machinaryCodeFour
        margin: 4px 8px 8px 4px

    .machinaryCodeFive
        margin: 4px 8px 8px 4px
           
    .machinaryCodeSix
        margin: 4px 8px 8px 4px

    .machinaryCodeSeven
        margin: 4px 8px 8px 4px

    .machinaryCodeEight
        margin: 4px 8px 8px 4px

    .machinaryCodeNine
        margin: 4px 8px 8px 4px

    .machinaryCodeTen
        margin: 4px 8px 8px 4px

    .machinaryCodeOne, .machinaryCodeTwo, .machinaryCodeThree, .machinaryCodeFour, .machinaryCodeFive,
    .machinaryCodeSix, .machinaryCodeSeven, .machinaryCodeEight, .machinaryCodeNine, .machinaryCodeTen
        .flex.flex-wrap
            .w-full:nth-child(1)
                .machinary_status
                    background-color: rgb(58, 58, 58)
                    height: 101vh
                    overflow: hidden
                    margin-right: 4px

                    .circle
                        margin-top: 5px
                        width: 100%
                        max-width: 70%
                        margin: 40px auto 20px auto
                        padding: 5px
                        border-radius: 50%

                        img.machinary
                            width: 100%
                            border: 5px solid #505050
                            border-radius: 50%

                    .machinaryName
                        color: $color_white
                        text-align: center
                        font-size: 20px
                        margin-top: 15px

                    img.muscleDistribution
                        width: 100%
                        max-width: 95%
                        margin: 20px auto

            .w-full:nth-child(2)
                .flex.flex-wrap
                    .w-full:nth-child(1)
                        .formal_training_status_report
                            background-color: rgba(58, 58, 58)
                            margin-left: 4px
                        
                    .w-full:nth-child(2)
                        .formal_training_power_report
                            background-color: rgba(58, 58, 58)
                            margin-left: 4px
                            margin-top: 8px

    .softness_chart_info
        margin: 4px 8px 8px 4px

        .flex.flex-wrap
            .w-full:nth-child(1)
                .card
                    background-color: rgba(58, 58, 58)
                    margin-right: 4px

                    .title
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 5px 0px

                        img
                            width: 100%
                            max-width: 50px

                        h2
                            font-size: 20px
                            color: $color_white
                    
                    hr
                        width: 95%
                        margin: auto

                    .softnessChart
                        padding: 20px

            .w-full:nth-child(2)
                .card
                    background-color: rgba($color_white, 0.1)
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 100%
                    margin-left: 4px
                    
                    img
                        width: 100%
                        max-width: $page_delete_add_icon_size
                        cursor: pointer
                        transition: 0.5s

                        &:hover
                            transform: rotate(360deg)

    .balance_chart_info
        margin: 8px 8px 8px 4px

        .flex.flex-wrap
            .w-full:nth-child(1)
                .card
                    background-color: rgba(58, 58, 58)
                    margin-right: 4px

                    .title
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 5px 0px

                        img
                            width: 100%
                            max-width: 50px

                        h2
                            font-size: 20px
                            color: $color_white
                    
                    hr
                        width: 95%
                        margin: auto

                    .balanceChart
                        padding: 20px

            .w-full:nth-child(2)
                .card
                    background-color: rgba($color_white, 0.1)
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 100%
                    margin-left: 4px
                    
                    img
                        width: 100%
                        max-width: $page_delete_add_icon_size
                        cursor: pointer
                        transition: 0.5s

                        &:hover
                            transform: rotate(360deg)
    .confirm_page
        margin: 4px 8px 8px 4px
        background-color: rgba($color_white, 0.1)
        
        .card
            text-align: center
            padding: 25px

            .btn_confirm
                border: 1px solid $color_white
                border-radius: 50px
                padding: 9px 40px
                font-size: 18px
                transition: 0.5s
                
                &:hover
                    background-color: rgba($color_white, 0.1)

