@import '@/styles/index.sass'
@import '@/styles/colors.module.sass'

$schedule_info_font_size: 18px

.inspectionBalanceReport
    margin: 8px 8px 8px 4px
    position: relative
    background-color: rgba($color_white, 0.1)

    .balanceReportInfo
        .title
            display: flex
            justify-content: center
            align-items: center
            padding: 5px 0px

            img
                width: 100%
                max-width: 50px

            h2
                font-size: 20px
                color: $color_white
        
        hr
            width: 95%
            margin: auto

        .actionDate
            text-align: center
            display: flex
            justify-content: center
            align-items: center

            .scheduleInfo
                padding: 10px 45px
                border-radius: 5px
                margin: 10px
                background-color: rgba($color_white, 0.2)
                color: $color_white

                h3
                    font-size: 22px
                    font-weight: 500

                p
                    padding: 3px 0px
                    font-size: $schedule_info_font_size
            
            .prevDate, .nextDate
                img.reportArrowLeft, img.reportArrowRight
                    width: 100%
                    max-width: 40px
                    cursor: pointer

        .action
            display: flex
            justify-content: center
            align-items: center

            .gard
                img
                    width: 100%
                    max-width: 65px
                    margin: auto
                    padding: 5px 10px
                    transform: rotate(0deg)
                    cursor: pointer
                    transition: 0.5s

                    &:hover
                        transform: rotate(360deg)

    .balanceReport
        padding: 20px

        .balanceTooltip
            position: absolute
            background-color: $color_black
            color: $color_white
            padding: 5px 10px
            border-radius: 5px
            display: none
            font-size: 12px

            p
                padding: 3px
