@import '@/styles/colors.module.sass'

$table_theader_font_size: 20px
$table_tbody_font_size: 18px
$confirm_button: 18px
$dialog_input_font_size: 18px
$dialog_context_font_size: 18px

.studentList
    .page_title
        margin: 8px 8px 4px 4px

        .flex.flex-wrap
            .card
                padding: 10px 0px
                background-color: $color_orange

                .headline
                    display: flex
                    justify-content: center
                    align-items: center

                    .group
                        flex: 1 1 calc( 100% / 3 )
                        max-width: calc( 100% / 3 )

                        h2.title
                            font-size: 25px
                            color: $color_white
                            text-align: center

                        .add_student, .search_student
                            width: 100%
                            max-width: 38px
                            margin-right: 12px
                            cursor: pointer
                            display: inline-block
                            transition: 0.5s

                            &:hover
                                transform: scale(1.1)

                    .group:nth-child(3)
                        text-align: right

    .student_list_info
        margin: 0px 8px 8px 4px

        .flex.flex-wrap
            .w-full
                .studentTable
                    width: 100%
                    margin:
                        left: auto
                        right: auto
                    color: $color_white

                    thead
                        color: $color_white

                        tr
                            th
                                color: $color_white
                                font-size: $table_theader_font_size

                                p
                                    padding: 5px
                                    margin: 4px 8px 8px 4px
                                    border: 1px solid rgba($color_white, 0.1)

                            th:nth-child(2), th:nth-child(3), th:nth-child(5), th:nth-child(6)
                                cursor: pointer

                            th:first-child
                                p
                                    margin-left: 0px

                            th:last-child
                                p
                                    margin-right: 0px

                    tbody
                        tr.active
                            background-color: $color_orange

                        tr
                            background-color: rgba($color_white, 0.1)
                            text-align: center
                            border-bottom: 1px solid rgba($color_white, 0.1)
                            cursor: pointer
                            transition: 0.1s

                            &:hover
                                background-color: rgba($color_white, 0.2)

                            &:active
                                background-color: $color_orange

                            td
                                color: $color_white
                                text-align: center
                                padding: 9px 0px
                                text-align: center
                                font-size: $table_tbody_font_size

                                .user_logo
                                    text-align: center
                                    display: inline-block
                                    width: 100%
                                    max-width: 30px
                                    margin-right: 12px

                                .danger
                                    &::before
                                        content: '●'
                                        font-size: 18px
                                        letter-spacing: 9px
                                        display: inline-block

                                .danger.red
                                    &::before
                                        color: $color_red

                                .danger.yellow
                                    &::before
                                        color: $color_yellow

                                .danger.green
                                    &::before
                                        color: $color_green

                                .delete_student
                                    display: block
                                    padding: 6px
                                    margin: 0px auto
                                    width: 100%
                                    max-width: 40px
                                    cursor: pointer
                                    transform: rotate(0deg)
                                    transition: 0.5s

                                    &:hover
                                        transform: rotate(360deg)

                .confirm
                    width: 100%
                    padding: 50px 0px
                    text-align: center
                    background-color: rgba($color_white, 0.1)
                    border-top: 1px solid rgba($color_white, 0.1)

                    .btnComfirm
                        border: 1px solid $color_white
                        border-radius: 50px
                        color: $color_white
                        padding: 5px 30px
                        font-size: $confirm_button

.visiableDeleteDialog
    .content
        padding: 10px 20px
        
        p
            font-size: $dialog_context_font_size
    
.visibleSearchDialog
    .content
        padding: 0px 20px 10px 20px
        
        .dialogInput
            width: 100%
            outline: none
            margin-top: 10px
            background-color: rgba($color_black, 0.1)
            border: 1px solid rgba($color_black, 0.1)
            border-radius: 2.5px
            padding: 6px 12px
            font-size: $dialog_input_font_size
            transition: 0.5s

            &:focus
                border: 1px solid $color_black
