@import '@/styles/colors.module.sass'

.loading
    position: fixed
    width: 100%
    height: 100vh
    top: 0
    left: 0
    z-index: 999
    background-color: $color_black
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box

    .circle
        border: 1px solid
        width: 80px
        height: 80px
        border-radius: 50%
        border: 8px solid $color_white
        border-bottom-color: $color_orange
        border-top-color: $color_orange
        transform: rotate(0deg)
        animation: 1s rotation linear infinite

            
@keyframes rotation
    0%
        transform: rotate(0deg)
    50%
        transform: rotate(180deg)
    100%
        transform: rotate(360deg)
