
@import '@/styles/colors.module.sass'

.page_title
    margin: 8px 8px 4px 4px

    .flex.flex-wrap
        .card
            padding: 10px 0px
            background-color: $color_orange

            h2.title
                font-size: 20px
                color: $color_white
                text-align: center
