@import '@/styles/index.sass'
@import '@/styles/colors.module.sass'

$schedule_info_font_size: 18px

.inspectionReportCardiorespiratoryFitness
    margin: 8px 8px 8px 4px
    position: relative
    background-color: rgba($color_white, 0.1)

    .cardiorespiratoryFitnessReportInfo
        .title
            display: flex
            justify-content: center
            align-items: center
            padding: 5px 0px

            img
                width: 100%
                max-width: 50px

            h2
                font-size: 20px
                color: $color_white

        hr
            width: 95%
            margin: auto

        .actionDate
            text-align: center
            display: flex
            justify-content: center
            align-items: center

            .scheduleInfo
                padding: 10px 45px
                border-radius: 5px
                margin: 10px
                background-color: rgba($color_white, 0.2)
                color: $color_white
                
                h3
                    font-size: 22px
                    font-weight: 500

                p
                    padding: 3px 0px
                    font-size: $schedule_info_font_size

            .prevDate, .nextDate
                img.reportArrowLeft, img.reportArrowRight
                    width: 100%
                    max-width: 35px
                    cursor: pointer

        .action
            display: flex
            justify-content: center
            align-items: center

            .gard
                img
                    width: 100%
                    max-width: 65px
                    margin: auto
                    padding: 5px 10px
                    transform: rotate(0deg)
                    cursor: pointer
                    transition: 0.5s

                    &:hover
                        transform: rotate(360deg)

    .cardiorespiratoryFitnessReport
        padding: 20px

        .cardiorespiratoryFitnessTooltip
            position: absolute
            background-color: $color_black
            color: $color_white
            padding: 5px 10px
            border-radius: 5px
            display: none
            font-size: 12px

            p
                padding: 3px

.visibleAddTrainingScheduleDialog
    .content
        margin: 15px 0px
        padding: 0px 24px

        .group
            margin-top: 10px

            h6
                text-align: left

            input
                outline: none
                width: 100%
                outline: none
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                padding: 6px 12px
                transition: 0.5s

                &:hover, &:focus
                    border: 1px solid $color_black

            p
                text-align: left
                padding: 5px 0px

.visibleEditTrainingScheduleDialog
    .content
        margin: 15px 0px
        padding: 0px 24px

        .group
            margin-top: 10px

            h6
                text-align: left

            input
                outline: none
                width: 100%
                outline: none
                margin-top: 5px
                background-color: rgba($color_black, 0.1)
                border: 1px solid rgba($color_black, 0.1)
                border-radius: 2.5px
                padding: 6px 12px
                transition: 0.5s

                &:hover, &:focus
                    border: 1px solid $color_black

            p
                text-align: left
                padding: 5px 0px

.visibleDeleteTrainingScheduleDialog
    .content
        margin: 15px 0px

        .group
            margin-top: 10px