@import '@/styles/index.sass'
@import '@/styles/colors.module.sass'

$training_stage_anchor_text_font_size: 18px
$training_stage_text_font_size: 18px
$exercise_prescription_table_header_font_size: 20px
$exercise_prescription_table_body_font_size: 18px
$exercise_prescription_dialog_title_font_size: 18px
$exercise_prescription_dialog_context_font_size: 18px
$exercise_prescription_dialog_input_font_size: 18px

.exercisePrescription
    .training_stage_info
        .flex.flex-wrap
            .w-full
                .card
                    .training_stage_progress
                        width: 90%
                        margin: auto
                        padding: 28px 50px 0px 50px

                        img.training_stage_anchor
                            position: relative
                            width: 30px
                            height: 30px

                        h5.training_stage_anchor_text
                            position: relative
                            color: $color_white
                            font-size: $training_stage_anchor_text_font_size
                            margin:
                                top: 10px
                                bottom: 10px
                        
                    .training_stage
                        width: 90%
                        margin: auto
                        position: relative
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 0px 50px 10px 50px

                        .progress1
                            background: linear-gradient(75deg, transparent, $color_green)
                            height: 12px

                        .progress2
                            background: linear-gradient(75deg, transparent, $color_yellow)
                            height: 12px

                        .progress3
                            background: linear-gradient(75deg, transparent, $color_red)
                            height: 12px

                    .training_stage_text
                        width: 90%
                        margin: auto
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 2px 50px 50px 50px

                        .progress1, .progress2, .progress3
                            height: 12px
                            text-align: center
                            color: $color_white
                            white-space: nowrap
                            font-size: $training_stage_text_font_size

                    .btn_edit_training_stage
                        cursor: pointer
                        width: 100%
                        max-width: 75px

            .w-full:nth-child(2)
                .card
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 100%

                    img
                        width: 100%
                        max-width: 80px

    .exercise_prescription_info
        margin: 0px 8px 8px 4px

        .flex.flex-wrap
            .card
                table
                    width: 100%
                    margin:
                        left: auto
                        right: auto
                    color: $color_white

                    thead
                        background-color: $color_black

                        tr
                            th
                                p
                                    padding: 5px
                                    margin: 4px 8px 8px 4px
                                    border: 2px solid rgba($color_white, 0.1)
                                    font-size: $exercise_prescription_table_header_font_size

                            th:first-child
                                p
                                    margin-left: 0px

                            th:last-child
                                p
                                    margin-right: 0px

                    tbody
                        tr
                            background-color: rgba($color_white, 0.1)
                            text-align: center
                            border-bottom: 1px solid rgba($color_white, 0.1)
                            cursor: pointer

                            &:hover
                                background-color: rgba($color_white, 0.2)

                            td
                                padding: 6px
                                font-size: $exercise_prescription_table_body_font_size

                            td.mark
                                white-space: pre-line
                                word-wrap: break-word

                            td.icon_btn_edit
                                img
                                    width: 100%
                                    max-width: 50px
                                    margin: auto
                                    cursor: pointer
                                    border-radius: 50%
                                    transition: 0.5s

                                    &:active, &:hover
                                        background-color: rgba($color_white, 0.1)

                        tr.exercisePrescriptionCardiorespiratoryFitnessChildren, tr.exercisePrescriptionMuscleStrengthAndMuscleEnduranceGroupChildren,
                        tr.exercisePrescriptionSoftnessGroupChildren, tr.exercisePrescriptionBalanceChildren
                            background-color: rgba($color_white, 0.035)
                            visibility: collapse
                            transition: 0.5s

                        tr.exercisePrescriptionCardiorespiratoryFitnessChildren.active, tr.exercisePrescriptionMuscleStrengthAndMuscleEnduranceGroupChildren.active,
                        tr.exercisePrescriptionSoftnessGroupChildren.active, tr.exercisePrescriptionBalanceChildren.active
                            overflow: hidden
                            visibility: visible
                            transition: 0.5s

.visibleInfoDialog
    .content
        padding: 0px 24px

        p
            margin-top: 5px
            padding-bottom: 20px
            font-size: $exercise_prescription_dialog_context_font_size

.visibleTrainingStageDialog, .visibleCardiorespiratoryFitnessDialog, .visibleMuscleStrengthAndMuscleEnduranceDialog,
.visibleSoftness, .visibleBalanceDialog
    .content
        padding: 0px 24px
        height: 450px
        overflow-y: scroll
        overflow-x: hidden

        .group
            margin-bottom: 10px

            .select
                max-width: 100%

            h6
                text-align: left
                margin-bottom: 3px
                font-size: $exercise_prescription_dialog_title_font_size

            input, textarea
                border: 1px solid rgba($color_black, 0.1)
                outline: none
                background-color: rgba($color_black, 0.1)
                padding: 6px 12px
                width: 100%
                border-radius: 2.5px
                font-size: $exercise_prescription_dialog_input_font_size
                transition: 0.5s

                &:focus
                    border: 1px solid $color_black

            textarea
                resize: none

            textarea::-webkit-scrollbar
                width: 9px
                background-color: rgba($color_black, 0.1)

            textarea::-webkit-scrollbar-track
                background-color: rgba($color_black, 0.1)

            textarea::-webkit-scrollbar-thumb
                background-color: $color_orange
                border-radius: 50px

            p
                margin-top: 5px
                text-align: left

            img.muscleDistribution
                background-color: $color_black
                width: 100%
                max-width: 100%
                margin: auto

        .group.reinforcement
            position: relative

            .leftPictureUpperBodyLeft, .leftPictureUpperBodyRight, .leftPictureUpperBodyHeart,
            .leftPictureUpperBodyBelly, .leftPictureLowerBodyLeft, .leftPictureLowerBodyRight
                position: absolute
                cursor: pointer

            .leftPictureUpperBodyLeft
                width: 126px
                height: 28px
                transform: rotate(-254deg)
                top: 39%
                left: -9.7%

            .leftPictureUpperBodyRight
                width: 126px
                height: 28px
                transform: rotate(254deg)
                top: 39%
                left: 20%

            .leftPictureUpperBodyHeart
                width: 34px
                height: 23px
                top: 28%
                left: 19%

            .leftPictureUpperBodyBelly
                width: 45px
                height: 60px
                top: 35%
                left: 17%

            .leftPictureLowerBodyLeft
                width: 153px
                height: 36px
                transform: rotate(-265deg)
                bottom: 21%
                left: -6.8%

            .leftPictureLowerBodyRight
                width: 153px
                height: 36px
                transform: rotate(265deg)
                bottom: 21%
                left: 7.8%

            .rightPictureUpperBodyLeft, .rightPictureUpperBodyRight, .rightPictureUpperBack,
            .rightPictureUpperBodyHeart, .rightPictureUpperBodyBelly, .rightPictureLowerBodyLeft,
            .rightPictureLowerBodyRight
                position: absolute
                cursor: pointer

            .rightPictureUpperBodyLeft
                width: 130px
                height: 30px
                right: 20.2%
                top: 38.8%
                transform: rotate(-68deg)

            .rightPictureUpperBodyRight
                width: 130px
                height: 30px
                right: -9%
                top: 38.8%
                transform: rotate(68deg)

            .rightPictureUpperBack
                width: 15px
                height: 30px
                right: 23.2%
                top: 28%

            .rightPictureUpperBodyHeart
                width: 40px
                height: 30px
                right: 19.5%
                top: 37%

            .rightPictureUpperBodyBelly
                width: 66px
                height: 30px
                right: 16%
                top: 45.8%

            .rightPictureLowerBodyLeft
                width: 143px
                height: 42px
                right: 11%
                bottom: 19%
                transform: rotate(90deg)

            .rightPictureLowerBodyRight
                width: 143px
                height: 42px
                right: -3%
                bottom: 19%
                transform: rotate(90deg)


.content::-webkit-scrollbar
    width: 9px
    background-color: rgba($color_black, 0.1)

.content::-webkit-scrollbar-track
    background-color: rgba($color_black, 0.1)

.content::-webkit-scrollbar-thumb
    background-color: $color_orange
    border-radius: 50px
