@import '@/styles/colors.module.sass'

.dialogBody
    text-align: center
    font-size: 16px
    font-weight: 520
    border-bottom: inset 1px lighten($color_darken_grey, 50)

    *
        color: $color_darken_grey
