@import '@/styles/colors.module.sass'

$dialog_button_font_size: 18px

.dialog
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    z-index: 999
    background-color: rgba($color_black, 0.5)
    box-shadow: 0px 0px 15px 15px $color_black

    .container
        background-color: $color_white
        width: 80%
        max-width: 80%
        padding: 24px 0px 0px 0px
        border-radius: 5px
        animation: dialog 0.5s 1 linear

.dialogBtnConfirm
    width: 100%
    padding: 3px 10px
    outline: none
    color: $color_black
    font-size: $dialog_button_font_size
    transition: 0.5s

    &:hover
        background-color: rgba($color_black, 0.1)
    
.dialogBtnBtnYes, .dialogBtnBtnNo
    width: 50%
    padding: 3px 10px
    outline: none
    color: $color_black
    font-size: $dialog_button_font_size
    transition: 0.5s

    &:hover
        background-color: rgba($color_black, 0.1)

@keyframes dialog
    0%
        opacity: 0
    50%
        opacity: 0.5
    100%
        opacity: 1

@media screen and (min-width: 576px)
    .dialog
        .container
            width: 80%
            max-width: 80%

@media screen and (min-width: 768px)
    .dialog
        .container
            width: 35%
            max-width: 35%

@media screen and (min-width: 992px)
    .dialog
        .container
            width: 35%
            max-width: 35%

@media screen and (min-width: 1200px)
    .dialog
        .container
            width: 20%
            max-width: 20%
        