@import '@/styles/index.sass'
@import '@/styles/colors.module.sass'

$instrument_settings_table_header_font_size: 20px
$instrument_settings_dialog_title_font_size: 18px
$instrument_settings_dialog_input_font_size: 18px

.instrumentSettings
    .instrument_settings_info
        margin: 0px 8px 8px 4px

        .flex.flex-wrap
            .card
                table
                    width: 100%
                    max-width: 100%
                    margin:
                        left: auto
                        right: auto
                    color: $color_white

                    thead
                        background-color: $color_black

                        tr
                            th
                                p
                                    padding: 5px
                                    margin: 4px 8px 8px 4px
                                    border: 2px solid rgba($color_white, 0.1)
                                    white-space: nowrap
                                    font-size: $instrument_settings_table_header_font_size

                            th:first-child
                                p
                                    margin-left: 0px

                            th:last-child
                                p
                                    margin-right: 0px

                    tbody
                        tr
                            background-color: rgba($color_white, 0.1)
                            text-align: center
                            border-bottom: 1px solid rgba($color_white, 0.1)
                            cursor: pointer

                            &:hover
                                background-color: rgba($color_white, 0.2)

                            td
                                padding: 6px
                                font-size: 25px
                                font-weight: 600
                                white-space: pre-line
                                word-break: break-all

                                img.machinaryPicture
                                    width: 100%
                                    max-width: 95px
                                    margin:
                                        top: 6px
                                        bottom: 6px
                                        left: auto
                                        right: auto
                                    padding: 3px
                                    border: 3px solid rgba($color_white, 0.6)
                                    border-radius: 50%

                            td.mark
                                text-align: left

                            td.icon_btn_edit
                                img
                                    width: 100%
                                    max-width: 50px
                                    margin: auto
                                    cursor: pointer
                                    border-radius: 50%
                                    transition: 0.5s

                                    &:active, &:hover
                                        background-color: rgba($color_white, 0.1)

                        tr.machinaryCodeOneGroupChildren, tr.machinaryCodeTwoGroupChildren, tr.machinaryCodeThreeGroupChildren,
                        tr.machinaryCodeFourGroupChildren, tr.machinaryCodeFiveGroupChildren, tr.machinaryCodeSixGroupChildren,
                        tr.machinaryCodeSevenGroupChildren, tr.machinaryCodeEightGroupChildren, tr.machinaryCodeNineGroupChildren,
                        tr.machinaryCodeTenGroupChildren
                            background-color: rgba($color_white, 0.035)
                            visibility: collapse
                            transition: 0.5s

                            td
                                padding: 21px

                        tr.machinaryCodeOneGroupChildren.active, tr.machinaryCodeTwoGroupChildren.active, tr.machinaryCodeThreeGroupChildren.active,
                        tr.machinaryCodeFourGroupChildren.active, tr.machinaryCodeFiveGroupChildren.active, tr.machinaryCodeSixGroupChildren.active,
                        tr.machinaryCodeSevenGroupChildren.active, tr.machinaryCodeEightGroupChildren.active, tr.machinaryCodeNineGroupChildren.active,
                        tr.machinaryCodeTenGroupChildren.active
                            overflow: hidden
                            visibility: visible
                            transition: 0.5s

.visibleInstrumentSettingsDialog
    .content
        padding: 6px 24px
        overflow-y: scroll
        overflow-x: hidden

        .group
            h6
                text-align: left
                margin-bottom: 3px
                font-size: $instrument_settings_dialog_title_font_size

            textarea
                border: 1px solid rgba($color_black, 0.1)
                resize: none
                outline: none
                background-color: rgba($color_black, 0.1)
                padding: 6px 12px
                width: 100%
                border-radius: 2.5px
                font-size: $instrument_settings_dialog_input_font_size
                transition: 0.5s

                &:focus
                    border: 1px solid $color_black

            textarea::-webkit-scrollbar
                width: 9px
                background-color: rgba($color_black, 0.1)

            textarea::-webkit-scrollbar-track
                background-color: rgba($color_black, 0.1)

            textarea::-webkit-scrollbar-thumb
                background-color: $color_orange
                border-radius: 50px

            p
                text-align: left