@import '@/styles/colors.module.sass'

.icon_arrow_down
    img
        width: 100%
        max-width: 50px
        margin: auto
        border-radius: 50%
        cursor: pointer
        transition: 0.5s
        
        &:active, &:hover
            background-color: rgba($color_white, 0.1)
                                    