@import '@/styles/colors.module.sass'

.home
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-color: $color_black
    position: relative

    .home_container
        .container
            .card
                text-align: center

                h1.title, h3.sub_title
                    color: $color_white

                h1.title
                    font-size: 75px

                h3.sub_title
                    font-size: 36px

                img.homeArrow
                    width: 100%
                    max-width: 250px
                    margin: auto

    .footer
        position: absolute
        bottom: 0px
        width: 100%
        padding: 5px
        border-top: 1px solid $color_white
        text-align: center

        *
            display: inline-block
            
        img
            width: 100%
            max-width: 25px

        span
            margin-left: 5px
            padding: 10px
            vertical-align: middle
            color: $color_white

            &::before
                content: '|'
                margin-right: 10px
                font-size: 20px