@import '@/styles/colors.module.sass'

$login_account_and_password_font_size: 18px
$login_account_and_password_error_message_font_size: 18px

.login
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

    .form
        width: 80%
        max-width: 80%
        text-align: center
        padding: 24px
        
        .form_control
            width: 100%
            margin-bottom: 20px
            
            .title, .subMenu
                color: $color_white

            .title
                text-align: center
                font-size: 75px
                margin-bottom: 10px
                
            .subMenu
                text-align: center
                font-size: 36px
                margin-bottom: 20px

            span
                color: $color_white
                margin-right: 10px
                font-size: $login_account_and_password_font_size

            input.account, input.password
                width: 100%
                max-width: 250px
                outline: none
                background-color: #393939
                padding: 5px
                color: $color_white
                border: 1px solid $color_darken_grey
                border-radius: 2.5px
                font-size: $login_account_and_password_font_size
                transition: 0.5s

                &:focus
                    border: 1px solid $color_white

            input.account.error, input.password.error
                border: 1px solid $color_white

            .accountMessage, .passwordMessage
                margin-left: -120px
                margin-top: 10px
                font-size: $login_account_and_password_error_message_font_size
                color: $color_white

            .submit
                text-align: center
                margin-top: 100px
                font-size: 20px
                border: 1px solid $color_white
                border-radius: 50px
                padding: 5px 50px
                outline: none
                color: $color_white

.visibleInfoDialog
    .content
        padding: 0px 24px

        p
            margin-top: 5px
            padding-bottom: 20px